.header {
    width: 600px;
    margin: auto;
    border: 1px solid blue; 
}

.header1 {
    padding: 20px;
    
}

.item {
    display: flex;
    margin-top: 20px;
}
.item_left {
    width:25%;
    height: 30px;
    background-color: #4f81bd;
    padding-left: 15px;
    line-height: 30px;
    margin-right: 20px;
    color: #fff;
    
}

.item_right {
    height: 30px;
    width: 70%;
    outline: none;
    
}

.drop {
    height: 30px;
    width: 100%;
    cursor: pointer;
    padding-left: 5px;
    outline: none;
    
}

.key{
    
    height: 26px;
    width:98% ;
    padding: 0px 0px 0px 5px; 
    cursor: text;
}
.key::after {
    background-color: #fff;
}

.item_seach {
    width: 30%;
    justify-content: space-between;
    margin: 20px auto;

}

.search {
    
    width: 45%;
    height: 30px;
    display: block;
    background-color: #4f81bd; 
    border: none;
    color: #fff;  
    cursor: pointer;
}

/* Màn hình show */

.show_sv {
    margin-left: 20px;
    margin-bottom: 20px;
}
.item_left2{
    width: 78%;
}
.item_left_2 {
    
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
    
}
.item_left_con1 {
    width: 10%;
    
}
.item_left_con{
    width: 30%;
    
}

.header2 {
    display: flex;
}

.item_right2 {
    margin-top: -40px;
    width: 18%;
}

.item_right_con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.add {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: #fff;
    background-color: #4f81bd;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.action {

    margin-bottom: 10px;
}

.con_trai {
    padding: 4px 10px;
    background-color: #4f81bd;
    color: #fff;
    cursor: pointer;
}



